:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --logo-color:#2196F3;
  --primary-white-color: #FFFFFF;
  --primary-gray-text: #757575;
  --primary-background-color: #F5F5F5;
  --primary-button-background: #F5F4FA;
  --contact-color: rgba(255, 255, 255, 0.6);
  --background-dark-color: #2F303A;
  --border-color:#EEEEEE;
  --border-header: #ECECEC;
  --border-logo: rgba(175, 177, 184, 1);
  --icons-background: rgba(255, 255, 255, 0.1);
  --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --card-bottom-background: rgba(47, 48, 58, 0.8);
  --overlay-card-blue: rgba(33, 150, 243, 0.9);
  --cards-text-color:rgba(117, 117, 117, 1);
  --border-color-modal:rgba(33, 33, 33, 0.2);
  --modal-icon-color: rgba(33, 33, 33, 1);
  --text-comment-modal:rgba(117, 117, 117, 0.5);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

html {
  box-sizing: border-box;
}

*,
*::after *::before {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.list {
  list-style: none;
}

@media screen and (min-device-pixel-patio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-mobile@2x.jpg");
  }
}
.container {
  width: 100%;
}

.header__menu,
.header__menu-contact {
  padding: 0;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.header__logo {
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  /* margin-left: 215px; */
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.header__logo-accent {
  color: var(--logo-color);
}

.footer__logo-icon {
  font-family: Raleway, sans-serif;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}

.footer__logo-accent {
  color: var(--logo-color);
}

.feature__title-head {
  display: none;
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-text-color);
  padding-bottom: 10px;
}

.work__title,
.team__title,
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--logo-color);
  margin-bottom: 200px;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  letter-spacing: 0.06em;
  font-family: inherit;
}
.hero__button:hover, .hero__button:focus {
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__btn-mail {
  position: relative;
  width: 200px;
  height: 50px;
  background-color: var(--logo-color);
  transition: 250ms var(--animation-timing);
  border: 1px solid var(--logo-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 250ms var(--animation-timing);
}
.footer__btn-mail:hover {
  outline: 1px solid var(--logo-color);
}

.footer__btn-logo {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--primary-white-color);
}

.footer__btn-subscribe {
  padding-right: 36px;
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: 250ms;
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--logo-color);
}
.modal__close-btn:hover .close-icon, .modal__close-btn:focus .close-icon {
  fill: var(--logo-color);
}
.modal__close-btn .modal__contact-form {
  display: flex;
  flex-direction: column;
}

.modal__contact-button {
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--logo-color);
  border-radius: 4px;
  border-style: none;
  padding: 10px 52px;
}
.modal__contact-button:hover, .modal__contact-button:focus {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    max-height: 796px;
    background-color: var(--primary-white-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--animation-timing), visibility 250ms var(--animation-timing);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    padding-right: 15px;
    padding-top: 10px;
  }
}
.mobile-nav__menu-link {
  text-decoration: none;
  color: var(--modal-icon-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}
.mobile-nav__menu-link:hover, .mobile-nav__menu-link:focus {
  color: var(--logo-color);
}

.mobile-nav__menu {
  margin-bottom: 302px;
}

.mobile-nav__menu-item,
.mobile-nav__contact-item {
  padding-bottom: 32px;
}
.mobile-nav__menu-item:last-child,
.mobile-nav__contact-item:last-child {
  padding: 0;
}

.mobile-nav__contact {
  padding-bottom: 64px;
}

.mobile-nav__social {
  display: flex;
}

.mobile-nav__social-item {
  border-right: 1px solid black;
  padding: 0px 10px;
}
.mobile-nav__social-item:first-child {
  padding-left: 0;
}
.mobile-nav__social-item:last-child {
  border-right: none;
}

.mobile-nav__contact-link__phone {
  text-decoration: none;
  color: var(--logo-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobile-nav__contact-link__mail {
  text-decoration: none;
  font-weight: 500;
  color: var(--primary-gray-text);
  font-size: 24px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
}
.mobile-nav__contact-link__mail:hover, .mobile-nav__contact-link__mail:focus {
  color: var(--logo-color);
}

.mobile-nav__social-link {
  text-decoration: none;
  color: var(--logo-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1, 22;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.header__container {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--border-header);
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .header__logo {
    padding-left: 15px;
  }
}
.header__menu {
  display: none;
}

.header__menu-contact {
  display: none;
}

.mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  padding-right: 15px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  margin: 0;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .mobile-menu-btn {
    display: none;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__menu {
    display: flex;
  }
  .header__menu-contact {
    display: block;
  }
  .header__container {
    margin: 0;
    padding-left: 15px;
  }
  .header__logo {
    margin-right: 88px;
  }
  .header__item {
    margin-right: 50px;
  }
  .header__item:last-child {
    margin-right: 0;
  }
  .header__nav {
    display: flex;
  }
  .header__link {
    display: flex;
    position: relative;
    transition: 250ms var(--animation-timing);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-gray-text);
    text-decoration: none;
    font-weight: 500;
  }
  .header__link:hover::after {
    opacity: 1;
  }
  .header__link:hover, .header__link:focus {
    color: var(--logo-color);
    transition: 250ms var(--animation-timing);
  }
  .header__link .current {
    color: var(--logo-color);
  }
  .current::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: -28px;
    width: 100%;
    height: 4px;
    background-color: var(--logo-color);
    transition: opacity 250ms var(--animation-timing);
    border-radius: 2px;
  }
  .header__menu {
    display: flex;
    text-decoration: none;
    padding-left: 0;
    align-items: center;
    margin-right: 96px;
  }
  .menu .link:hover,
.menu .link:focus {
    transition: 250ms var(--animation-timing);
  }
  .mail, .smartphone {
    fill: currentColor;
    padding-right: 10px;
  }
  .menu__item-phone {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .icon-mail {
    display: inline-flex;
    margin-right: 10px;
  }
  .icon-smartphone {
    margin-right: 10px;
  }
  .header__item-contact {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__item-contact:first-child {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    width: 1200px;
  }
  .header__menu-contact {
    display: flex;
  }
  .header__item-contact:first-child {
    margin-right: 30px;
  }
  .current::after {
    bottom: -19px;
  }
}
@media screen and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile.jpg);
    height: 400px;
    max-width: 480px;
  }
  .hero__title {
    padding-top: 118px;
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .hero__button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-device-pixel-patio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: url("../images/hero-mobile@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotablet.jpg);
    height: 400px;
    max-width: 768px;
  }
  .hero__title {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-device-pixel-patio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: url("../images/herotab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-color: var(--background-dark-color);
    display: flex;
    height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroimg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: var(--primary-white-color);
    padding-top: 200px;
    padding-bottom: 30px;
    width: 700px;
  }
  .hero__container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .hero__overlay {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-device-pixel-patio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: url("../images/herodesk@2x.jpg");
  }
}
@media screen and (min-width: 480px) {
  .feature__container {
    display: block;
    margin-top: 60px;
  }
  .feature__menu {
    width: 480px;
    display: block;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
  }
  .feature__title {
    text-align: center;
  }
  .feature__text {
    margin-bottom: 30px;
  }
  .feature__text:last-child {
    margin-bottom: 60;
  }
}
@media screen and (min-width: 768px) {
  .feature__container {
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    text-align: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
  .feature__item {
    text-align: left;
    width: 354px;
    padding-left: 12px;
    padding-right: 12px;
  }
  .feature__menu {
    display: flex;
    width: 768px;
    flex-wrap: wrap;
  }
  .feature__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .feature__container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-top: 94px;
    margin-left: auto;
    margin-right: auto;
  }
  .feature__menu {
    display: flex;
    padding: 0;
    justify-content: flex-start;
    width: 100%;
  }
  .feature__item {
    display: inline-block;
    text-align: left;
    width: 270px;
  }
}
.feature__item:last-child {
  margin-right: 0;
}

.feature__thumb {
  display: flex;
  background-color: rgb(245, 244, 250);
  justify-content: center;
  margin-bottom: 30px;
}

.feature__icon {
  height: 120px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.feature__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-gray-text);
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work__container {
  margin-top: 94px;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.work__list {
  display: flex;
  margin-top: 50px;
  padding: 0;
}

.work__item {
  margin-right: 30px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0;
}
.work__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  background-color: var(--card-bottom-background);
}

.work__text {
  position: absolute;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .team__menu {
    display: block;
  }
  .team__container {
    width: 450px;
  }
  .team__item {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
  }
  .team__img {
    width: 100%;
  }
  .team__title {
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 320px) {
  .team__block {
    margin-top: 30px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .team__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team__container {
    width: 768px;
  }
  .team__block {
    margin-bottom: 16px;
  }
  .team__item {
    width: 354px;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item:nth-child(2n+1) {
    margin-right: 15px;
  }
  .team__item:nth-child(2n) {
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__container {
    width: 1200px;
  }
  .team__item {
    width: 270px;
    height: auto;
    margin-right: 30px;
  }
  .team__item:last-child {
    margin-right: 0px;
  }
}
.team {
  display: flex;
  /* width: 1600px; */
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-button-background);
  padding-bottom: 94px;
}

.team__container {
  margin-left: auto;
  margin-right: auto;
}

.team__menu {
  padding-left: 0;
  margin-top: 50px;
}

.team__item {
  border: 1px solid var(--border-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__item .title {
  text-align: center;
  margin-bottom: 10px;
}
.team__item.text {
  text-align: center;
}

.team__text {
  color: var(--primary-gray-text);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team__social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 0;
  margin-bottom: 30px;
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);
  border-radius: 50%;
  transition: 250ms var(--animation-timing);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--logo-color);
}
.team__social-link:hover .team__social-logo, .team__social-link:focus .team__social-logo {
  fill: var(--primary-white-color);
}

.team__social-logo {
  fill: var(--border-logo);
  transition: 250ms var(--animation-timing);
}
.team__social-logo:hover {
  fill: #2196F3;
}

@media screen and (min-width: 280px) {
  .clients__list {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 280px) and (max-width: 767px) {
  .clients__link {
    padding: 15px 52px;
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    flex-wrap: wrap;
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    padding: 15px 52px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    width: 1200px;
  }
  .clients__link {
    padding: 15px 32px;
  }
}
.clients {
  margin-left: auto;
  margin-right: auto;
}

.clients__container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 94px;
}

.clients__item {
  display: flex;
  height: 92px;
  border: 1px polid red;
  justify-content: center;
  align-items: center;
}

.clients__link {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  transition: 250ms var(--animation-timing);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196F3;
}
.clients__link:hover .clients__logo, .clients__link:focus .clients__logo {
  fill: var(--logo-color);
}

.clients__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  margin-top: 50px;
  margin-bottom: 94px;
}

.clients__logo {
  fill: var(--border-logo);
  transition: 250ms var(--animation-timing);
}
.clients__logo:hover, .clients__logo:focus {
  fill: var(--logo-color);
}

@media screen and (min-width: 320px) {
  .footer {
    width: 480px;
    display: block;
  }
  .footer__container {
    width: 480px;
  }
  .footer__container-contact,
.footer__logo-icon,
.footer__contact-item,
.footer__social-text,
.footer__contact-text {
    display: flex;
    justify-content: center;
  }
  .footer__form-input {
    margin-left: 15px;
    width: 89%;
    margin-bottom: 20px;
  }
  .footer__btn {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }
  .footer__social-list {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
  }
  .footer__container {
    display: flex;
    width: 768px;
    flex-wrap: wrap;
  }
  .footer__container-contact {
    margin-left: 76px;
    margin-right: 165px;
  }
  .footer__form-input {
    width: 450px;
  }
  .footer__contact-form {
    margin-left: 136px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    width: 1600px;
  }
  .footer__container {
    width: 1200px;
    flex-wrap: nowrap;
  }
  .footer__contact-item {
    display: block;
  }
  .footer__container-contact {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer__social {
    margin-left: 70px;
  }
  .footer__logo-icon,
.footer__social-text,
.footer__contact-text {
    display: block;
  }
  .footer__form-input {
    margin: 0;
    width: 358px;
  }
  .footer__contact-form {
    margin-left: 93px;
  }
  .footer__form-mail {
    display: flex;
  }
  .footer__btn {
    padding-bottom: 0px;
  }
}
.footer {
  background-color: var(--background-dark-color);
  margin-left: auto;
  margin-right: auto;
}

.footer__contact-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer__form-mail {
  align-items: center;
}

.footer__form-input {
  height: 46px;
  padding-left: 16px;
  outline: none;
  border-radius: 4px;
  margin-right: 12px;
  background-color: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 250ms var(--animation-timing);
  color: var(--primary-white-color);
  cursor: pointer;
}

.footer__form-input:focus {
  border-color: var(--logo-color);
}

.footer__form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__container {
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

.footer__address {
  font-style: inherit;
}

.footer__contact {
  /* outline: 2px solid salmon; */
  margin-top: 24px;
  display: inline-block;
  padding-left: 0;
}
.footer__contact .footer__contact-item {
  margin-top: 9px;
}
.footer__contact .footer__contact-item:first-child {
  margin-top: 0;
}
.footer__contact .footer__contact-item:last-child {
  margin-bottom: 60px;
}

.footer__social-text {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  column-gap: 10px;
  padding: 0;
}

.footer__social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: var(--icons-background);
  border-radius: 50%;
  transition: 250ms var(--animation-timing);
}
.footer__social-link:hover, .footer__social-link:focus {
  background-color: var(--logo-color);
}

.footer__social-icon {
  fill: var(--primary-white-color);
}

.footer__contact-map {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
  text-decoration: none;
}
.footer__contact-map:hover, .footer__contact-map:focus {
  color: var(--logo-color);
}

.footer__contact-info {
  font-size: 14px;
  line-height: 1.71;
  color: var(--contact-color);
  text-decoration: none;
}
.footer__contact-info:hover, .footer__contact-info:focus {
  color: var(--logo-color);
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
  .modal__contact-input {
    width: 404px;
  }
  .modal__form-message {
    width: 416px;
  }
  .modal__contact {
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
  .modal__contact-input {
    width: 482px;
  }
  .modal__form-message {
    width: 494px;
  }
  .modal__contact {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
.modal {
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__contact {
  text-align: center;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal__contact-input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms var(--animation-timing);
  cursor: pointer;
}
.modal__contact-input:focus {
  outline: none;
  cursor: auto;
  border-color: var(--logo-color);
}
.modal__contact-input:focus + .modal__form-icon {
  fill: var(--logo-color);
}

.modal__form-wrapper {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal__form-icon {
  fill: var(--modal-icon-color);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms var(--animation-timing);
}

.modal__form-message {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  border-color: var(--border-color-modal);
  border-radius: 4px;
  cursor: pointer;
}
.modal__form-message:focus {
  outline: none;
  cursor: auto;
  border-color: var(--logo-color);
}
.modal__form-message::placeholder {
  font-family: "Roboto";
  color: var(--text-comment-modal);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal__form-desc {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-gray-text);
  margin-bottom: 4px;
}

.modal__form-check {
  border: 1px solid var(--modal-icon-color);
  border-radius: 2px;
  cursor: pointer;
  padding: 1px;
  margin-right: 9px;
}

.modal__form__check-icon {
  display: none;
}

.modal__policy-text {
  color: var(--logo-color);
}

.modal__contact__form-field {
  position: absolute;
}
.modal__contact__form-field:checked + .modal__form-check {
  background-color: var(--logo-color);
  border-color: var(--logo-color);
}
.modal__contact__form-field:focus + .modal__form-check {
  box-shadow: 0 0 0 2px var(--logo-color);
}
.modal__contact__form-field:checked + .modal__form-check .modal__form__check-icon {
  display: block;
  fill: var(--primary-white-color);
}

.modal__form-button {
  display: flex;
  justify-content: center;
}

.modal__form__field-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}/*# sourceMappingURL=main.css.map */