// .header__item {
//     margin-right: 50px;

//     &:last-child {
//         margin-right: 0;
//         }
//     }


// .header__nav {
//     display: flex;
    
// }

// .header__link {
//     display: flex;
//     position: relative;
//     transition: 250ms var(--animation-timing);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     color: var(--primary-gray-text);
//     text-decoration: none;
//     font-weight: 500;

// &:hover::after {
//     opacity: 1;
// }

// &:hover,
// &:focus {
//     color: var(--logo-color);
//     transition: 250ms var(--animation-timing);
// }

// & .current {
//     color: var(--logo-color);
//     }
// }
        

// .current::after {
//     position: absolute;
//     content: "";
//     display: block;
//     left: 0;
//     bottom: -33px;
//     width: 100%;
//     height: 4px;
//     background-color: var(--logo-color);
//     transition: opacity 250ms var(--animation-timing);
//     border-radius: 2px;
// }



// .header__menu {
//     display: flex;
//     text-decoration: none;
//     padding-left: 0;
//     align-items: center;
//     margin-right: 315px;
//     }
// .header__menu-contact {
//     display: flex;
//     margin: 0;
// }    

  



// .menu .link:hover,
// .menu .link:focus {
//     transition: 250ms var(--animation-timing ); 
// }

// .mail, .smartphone {
//     fill: currentColor;
//     padding-right: 10px;
// }

// .menu__item-phone {
//     display: inline-flex;
//     flex-direction: row-reverse;
//     align-items:center;
    
// }
// .icon-mail {
//     display: inline-flex;
//     margin-right: 10px;
   
   

// }
// .icon-smartphone {
//     margin-right: 10px;
// }
// .header__item-contact {
//     display: inline-flex;
//     flex-direction: row-reverse;
//     align-items: center;
//     margin-right: 50px;
// }