@media screen and (min-width: 480px) {
    .team__menu {
        display: block}
    
    .team__container{
        width: 450px;
    }
    .team__item {
        margin-right: 0;
        margin-bottom: 30px;
        width: 450px;
        height: 620px;
        background-image: url('../images/ihor450.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        &:nth-child(2){
            background-image: url('../images/olha450.jpg');
        }
        &:nth-child(3) {
            background-image: url('../images/mykola450.jpg');
        }
        &:nth-child(4) {
            background-image: url('../images/mykhailo450.jpg');
        }
    
    }
    .team__title {
        margin-top: 60px;
        margin-bottom: 30px;
    }
    .team__block {
        margin-top: 490px;
        margin-bottom: 16px;
    }
}
    
@media screen and (min-width: 768px){
    .team__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .team__container {
        width: 768px;
    }
    .team__block {
        margin-top: 384px;
        margin-bottom: 16px;
    }
    .team__item{
    width: 354px;
    height: auto;
    @media screen and (max-width: 1199px){
        &:nth-child(2n+1) {
            margin-right: 15px;
        }
    
        &:nth-child(2n) {
            margin-left: 15px;
        }}
    
    }
}



@media screen and (min-width: 1200px){
    .team__container {
            width: 1200px;
        }
        .team__item {
            width: 270px;
            height: auto;
            margin-right: 30px;
            &:last-child{
                margin-right: 0px;
            }
            
}

}
// .team__title {
//     margin-top: 93px;
// }

.team {
    display: flex;
    /* width: 1600px; */
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primary-button-background);
    padding-bottom: 94px;
}

.team__container {
    margin-left: auto;
    margin-right: auto;
}

.team__menu {
    // display: flex;
    padding-left: 0;
    margin-top: 50px;
}


.team__item {
    // margin-right: 30px;
    border: 1px solid var(--border-color);
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);


&:last-child {
    margin-right: 0;
    }

& .title {
    text-align: center;
    margin-bottom: 10px;

    }

&.text {
    text-align: center;

    }
}



.team__text {
    color: var(--primary-gray-text);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

// .team__block {
//     margin-top: 30px;
//     margin-bottom: 16px;
// }

.team__social {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    padding: 0;
    margin-bottom: 30px;
}

.team__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    transition: 250ms var(--animation-timing);


&:hover,
&:focus {
    background-color: var(--logo-color)
    }

&:hover .team__social-logo,
&:focus .team__social-logo {
    fill: var(--primary-white-color);
    }
}

.team__social-logo {
    fill: var(--border-logo);
    transition: 250ms var(--animation-timing);


&:hover {
    fill: #2196F3;
    }
}