.hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-white-color);
    background-color: var(--logo-color);
    margin-bottom: 200px;
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    letter-spacing: 0.06em;
    font-family: inherit;

    &:hover,
    &:focus {
        color: var(--primary-white-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}



.footer__btn-mail {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: var(--logo-color);
    transition: 250ms var(--animation-timing);
    border: 1px solid var(--logo-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88px;
    letter-spacing: 0.06em;
    font-family: inherit;
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: 250ms var(--animation-timing);


    &:hover {

        outline: 1px solid var(--logo-color);
    }
}

.footer__btn-logo {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    fill: var(--primary-white-color);

}

.footer__btn-subscribe {
    padding-right: 36px;
}

.modal__close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: 250ms;
    position: absolute;
    right: 8px;
    top: 8px;

    &:hover,
    &:focus {
        fill: var(--logo-color);
    }

    &:hover .close-icon,
    &:focus .close-icon {
        fill: var(--logo-color);
    }

    .modal__contact-form {
        display: flex;
        flex-direction: column;
    }
}


.modal__contact-button {
    font-weight: 700;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.88;
    color: var(--primary-white-color);
    background-color: var(--logo-color);
    border-radius: 4px;
    border-style: none;
    padding: 10px 52px;

    &:hover,
    &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        cursor: pointer;
    }
}