:root {
    --primary-text-color: #212121;
    --title-text-color: #000000;
    
    --logo-color:#2196F3;
    --primary-white-color: #FFFFFF;
    --primary-gray-text: #757575;
    --primary-background-color: #F5F5F5;
    --primary-button-background: #F5F4FA;
    --contact-color: rgba(255, 255, 255, 0.6);
    --background-dark-color: #2F303A;
    --border-color:#EEEEEE;
    --border-header: #ECECEC;
    --border-logo: rgba(175, 177, 184, 1);
    --icons-background: rgba(255, 255, 255, 0.1);
    --animation-timing: cubic-bezier(0.4, 0, 0.2, 1);
    --card-bottom-background: rgba(47, 48, 58, 0.8);
    --overlay-card-blue: rgba(33, 150, 243, 0.9);
    --cards-text-color:rgba(117, 117, 117, 1);
    --border-color-modal:rgba(33, 33, 33, 0.2);
    --modal-icon-color: rgba(33, 33, 33, 1);
    --text-comment-modal:rgba(117, 117, 117, 0.5);}